/*Header*/
.header{
    width: 100%;
    height: auto;
    min-width: 320px;
}
.header-navbar{
    background-color:var(--header-color);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.container-fluid{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    width: 97%;
    background-color: inherit;
    justify-content: space-between;
}
.container-Logo{
    display: flex;
    align-items: center;
    background-color: inherit;
}
.header-logo{
    background-color: inherit;
    height: 50px;
    width: 50px;
}
.header-title{
    background-color: inherit;
    color: white;
    font-size:20px;
}
.container-ciudad{
    background-color: inherit;
}
.container-ciudad span{
    background-color: inherit;
    color: var(--text-navbar-color);
    font-size: 18px;
}.modal-react {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .modal-react__dialog {
    background-color: #fff;
    width: auto;
    height: auto;
    color: #000;
    border-radius: 5px;
  }
  .modal-react__dialog--button-close {
    cursor: pointer;
    color: #fff;
    margin-left: auto;
    font-size: 22px;
  }
  .modal-react__dialog--children {
    height:inherit;
  }
  .modal-react-open {
    display: grid;
  }
  @media  screen and (max-width:767px) {
    .modal-react__dialog{
      margin: 0 10px;  
    }
  }/*Ubicacion*/
.container-ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Modal*/
.header-modal-ubicacion{
    min-width: 310px;
    background-color: var(--header-color);
}
.header-modal-ubicacion .modal-react__dialog--button-close{
    background-color: var(--header-color);
    text-align: right;
    padding: 5px;
    font-size: 20px;
}
.container-modal-ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 20px;
}
.text-modal-ubicacion{
    font-size: 18px;
    padding-bottom: 5px;
}
.container-botones-ubicacion{
    display: flex;
}
.boton-ubicacion{
    padding: 5px;
    min-width: 80px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
}
.Si{
    background-color: green;
}
.No{
    background-color: red;
}
h2{
    color: red;
}
/*Body*//*Footer*/
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--footer-color);
    min-width:320px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.text-footer{
    color: var(--text-footer-color);
    padding: 0  10px;
    margin: 0;
    background-color: inherit;
}
.text-footer a {
    text-decoration: none;
    color: var(--text-footer-color);
    background-color: inherit;
}