.sectionPlace{  
    margin:5px;
}
.containerGeneralPlaces{
    width: 200px;
    padding: 5px;
    border-radius: 25px;
    background-color:var(--card-color);
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.containerImage{
    height: 50px;
    background-color: inherit;
    border-radius: inherit;
}
.containerGrados{
    height: auto;
    background-color: inherit;
    font-size: 40px;
    padding-left: 10px;
}
.containerTypeImg{
    height: auto;
    background-color: inherit;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.spanContainerTypeImg{
    background-color: inherit;
    padding-left: 2px;
}
.containerPlace{
    padding: 2px 4px;
    height: 30px;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}
.imagePlace{
    background-color: inherit;
}
.spanPlace{
    background-color: inherit;
    width: 100%;
    padding-left: 2px;
}
.hr{
    width: 100%;
    color: black;
}
.containerDate{
    padding:2px 4px;
    height: 30px;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    border-radius: inherit;
}