.modal-react {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .modal-react__dialog {
    background-color: #fff;
    width: auto;
    height: auto;
    color: #000;
    border-radius: 5px;
  }
  .modal-react__dialog--button-close {
    cursor: pointer;
    color: #fff;
    margin-left: auto;
    font-size: 22px;
  }
  .modal-react__dialog--children {
    height:inherit;
  }
  .modal-react-open {
    display: grid;
  }
  @media  screen and (max-width:767px) {
    .modal-react__dialog{
      margin: 0 10px;  
    }
  }